.inicion{
    background-color: rgb(231, 156, 113);
}

body {
    background-color: rgba(255, 255, 255, 0);
  }

/*https://www.google.com/url?sa=i&url=https%3A%2F%2Fpadondenosvamos.com%2Flugares-turisticos-atractivos-rio-de-janeiro%2F&psig=AOvVaw1LRLI1dmtC-auxUN-rFHZD&ust=1597440791644000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiX2OmQmesCFQAAAAAdAAAAABAf
https://www.google.com/url?sa=i&url=https%3A%2F%2Fcnnespanol.cnn.com%2Fvideo%2Fcnnee-pkg-digital-20-lugares-turisticos-que-debes-visitar-antes-de-morir%2F&psig=AOvVaw1LRLI1dmtC-auxUN-rFHZD&ust=1597440791644000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiX2OmQmesCFQAAAAAdAAAAABAl
https://www.google.com/url?sa=i&url=https%3A%2F%2Ftipsparatuviaje.com%2Flugares-turisticos-de-guatemala%2F&psig=AOvVaw1LRLI1dmtC-auxUN-rFHZD&ust=1597440791644000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiX2OmQmesCFQAAAAAdAAAAABAr
https://www.google.com/url?sa=i&url=https%3A%2F%2Faseguratuviajefacil.com%2Fnoticias%2Flugares-turisticos-de-japon%2F&psig=AOvVaw1LRLI1dmtC-auxUN-rFHZD&ust=1597440791644000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiX2OmQmesCFQAAAAAdAAAAABAx
https://www.google.com/url?sa=i&url=https%3A%2F%2Fdescapada.com%2Fviajar-georgia%2F&psig=AOvVaw1LRLI1dmtC-auxUN-rFHZD&ust=1597440791644000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiX2OmQmesCFQAAAAAdAAAAABBD*/